<div id="header">

  <ul>
    <li *ngIf="username; else notLoggedIn">
      Welcome , {{ username }}
    </li>
    <li><a href="/login">Logout</a></li>
    <ng-template #notLoggedIn>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ng-template>
    <li><a href="/changelanguage">Change lanquage</a></li>
  </ul>


  <div id="sub-header">
    <form (ngSubmit)="onSubmit()">
      <ul id="logo-search">
        <li><a href ="/"><img style="width: 150px" src="assets/images/lazada-logo.png"></a> </li>
        <li><input style="position: relative;border-style: hidden;background-color: #eff0f5;border-color: #8B8986;margin-top: 5px; height: 45px;width: 450px" type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search in lazada"/>
          <ul style="float: left; margin-left: 20px; margin-top: 40px ; z-index: 1" >
            <li style="list-style: none; float: none;" *ngFor="let item of searchReference">{{item}}</li>
          </ul>
        </li>
        <li style="margin-left: -55px"><button style="background-color: white;border-style: hidden" type="submit"><img style="background-color: transparent;margin-top: 5px;height: 45px;width: 65px" src="assets/images/resized_image.png"></button></li>
      </ul>
    </form>

  </div>
</div>
