.product {
  width: 80%;
  color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.item ul li{
  list-style: none;
  margin-right: 50px;
}
.wrapper{
  float: left;
  margin-left: -40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*-----Pagination-----*/
.pagination ul{
  margin-left: auto;
}
.pagination ul li{
  list-style: none;
  float: left;
  border: 1px solid #ddd;

}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

/*-----Pagination-----*/



/* Container chứa danh sách sản phẩm */

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}


.item:hover {
  transform: translateY(-10px); /* Hiệu ứng di chuyển lên khi hover */
}

.item-image img {
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước container */
  height: auto;
  display: block; /* Loại bỏ khoảng trắng không mong muốn dưới hình ảnh */
  margin: 0 auto; /* Căn giữa hình ảnh */
}

.item-title p,
.item-price p,
.item-orders p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.item-title p {
  font-weight: bold;
  margin-bottom: 10px;
}

.item-price p,
.item-orders p {
  margin-bottom: 10px;
}

/* Responsive: Điều chỉnh cho các màn hình nhỏ */
@media (min-width: 768px) {
  .item {
    width: 48%; /* Hiển thị 2 cột cho các màn hình từ 768px trở lên */
  }
}

@media (min-width: 1024px) {
  .item {
    width: 30%; /* Hiển thị 3 cột cho các màn hình từ 1024px trở lên */
  }
}
