<aside class="sidebar">
    <div class="logo">
      <a href="#"><img src="/images/lazada-logo.png" alt="Logo"></a>
    </div>
    <br/>
    <ul class="menu" style="margin-left: 15px;">
      <li><a href="/home"><i class="fa fa-tablet" style="margin-right: 5px;"></i>Electronics Devices</a></li>
      <li><a href="/home"><i class="fa fa-laptop"style="margin-right: 5px;"></i>Electronics Accessories</a></li>
      <li><a href="/home"><i class="fa fa-television"style="margin-right: 5px;"></i>TV Home Appliances</a></li>
      <li><a href="/home"><i class="fa fa-heartbeat"style="margin-right: 5px;"></i>Health & Beauty</a></li>
      <li><a href="/home"><i class="fa fa-female"style="margin-right: 5px;"></i>Women's Fashion & Accessories</a></li>
      <li><a href="/home"><i class="fa fa-male"style="margin-right: 5px;"></i>Men's Fashion & Accessories</a></li>
      <li><a href="/home"><i class="fa fa-male"style="margin-right: 5px;"></i>Kid's Fashion & Accessories</a></li>
      <li><a href="/home"><i class="fa fa-plane"style="margin-right: 5px;"></i>Sport & Travel</a></li>
      <li><a href="/home"><i class="fa fa-motorcycle"style="margin-right: 5px;"></i>Automotive & Motocycles</a></li>
    </ul>
  </aside>
 
 