 <aside class="sidebar">
   <div class="logo">
     <a href="/home"><img src="/images/lazada-logo.png" alt="Logo"></a>
   </div>
   <br/>
   <ul class="menu" style="margin-left: 15px;">
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/mobile.png;w=30;h=30;mode=pad">  Điện thoại</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/apple.png;w=30;h=30;mode=pad">  Apple</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/laptop.png;w=30;h=30;mode=pad">  Laptop</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/06/tablet.png;w=30;h=30;mode=pad">  Tablet</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/man-hinh.png;w=30;h=30;mode=pad">  Màn hình</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/dong-ho.png;w=30;h=30;mode=pad">  Smartwatch</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/am-thanh.png;w=30;h=30;mode=pad">  Thiết bị âm thanh</a></li>
     <li><a href="/add-product"><img src="https://cdn.hoanghamobile.com/Uploads/2025/02/05/phu-kien.png;w=30;h=30;mode=pad">  Phụ kiện</a></li>
     <!-- <li><a href="/edit-product"><i class="fa fa-laptop"></i> Dịch vụ</a></li> -->
  
   </ul>
 </aside>

