<form (ngSubmit)="onSubmit()">
    <ul  id="logo-search">
      <li><input style="margin-left: 20px;position: relative;border-style: hidden;background-color: #eff0f5;border-color: #8B8986;margin-top: 5px; height: 45px;width: 450px" type="text" [(ngModel)]="searchText" name="searchText" placeholder="  Search in lazada"/>
        <ul style="float: left; margin-left: 20px; margin-top: 40px ; z-index: 1" >
          <li style="list-style: none; float: none;" *ngFor="let item of searchReference">{{item}}</li>
        </ul>
      </li>
      <li style="margin-left: -55px"><button style="background-color: white;border-style: hidden" type="submit"><img style="background-color: transparent;margin-top: 5px;height: 45px;width: 65px" src="images/resized_image.png"></button></li>
    </ul>
  </form>